@use "utils" as u;

body {
  margin: auto;
  width: 100%;
}
.header-logo {
  margin: 20px auto;
}
.main-general {
  position: relative;
  width: 90%;
  margin: auto;
}
.searchBar {
  background-color: u.$gris;
  height: 50px;
  padding-left: 10px;
}
.icone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.icone-position{
    margin-right:25px;
    margin-top: 5px;
}

.inputSearch {
  background-color: transparent;
  border: none;
  position: relative;
  padding: 0;
  margin: 0;
  height: 100%;
  outline: none;
}

.groupe-select {
  gap: 30px;
  width: 500px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.ingredients-groupe {
    gap:0 10px;

    height: 50px;
    width:250px;
}
.appareils-groupe {
    
    gap:0 10px;
    height: 50px;
    width:250px;
}
.ustensiles-groupe {
    height: 50px;
    gap:0 10px;
    width:250px;
}
.ingredients-groupe--deploye {
    height: auto;
    gap:0 10px;
    width:auto;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: u.$bleu;
}
.appareils-groupe--deploye {
    height: auto;
    gap:0 10px;
    width:auto;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: u.$vert;
}
.ustensiles-groupe--deploye {
    height: auto;
    gap:0 10px;
    width:auto;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: u.$orange;
}

.tag-affiche{
    gap: 20px;
    
    margin:10px;
}
.fa-padding{
    padding: 15px 10px;
}
.tag-ingredient{
    
    padding: 0px 10px;
    border-radius: 10px;
    color:white;
    width:auto;
    background-color: u.$bleu;
    font-size: medium;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.tag-appareil{
    padding: 0px 10px;
    border-radius: 10px;
    color:white;
    width:auto;
  background-color: u.$vert;
    font-size: medium;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.tag-ustensile{
    padding: 0px 10px;
    border-radius: 10px;
    color:white;
    width:auto;
  background-color: u.$orange;
    font-size: medium;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.form-select-groupe {
    border-radius: 5px;
  font-size: 18px;
  height: 40px;
}

#form-select__ingredients {
    position: relative;

  background-color: u.$bleu;
  color: u.$blanc;
}

#form-select__appareils {
    position: relative;

  background-color: u.$vert;
  color: u.$blanc;
}
#form-select__ustensiles {
    position: relative;
  background-color: u.$orange;
  color: u.$blanc;
}
.conteneur-input-icone{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}
.ingredients-input{
    
    padding: 10px 10px 0 10px;
    color: u.$blanc;
    border:none;
outline:none;
background-color: transparent;
}
.appareils-input{
    
    padding: 10px 10px 0 10px;
    color: u.$blanc;
    border:none;
outline:none;
background-color: transparent;
}
.ustensiles-input{
    padding: 10px 10px 0 10px;
    color: u.$blanc;
    border:none;
outline:none;
background-color: transparent;
}
.ingredients-input::placeholder{
    color:white;
    opacity:0.5;
}
.appareils-input::placeholder{
    color:white;
    opacity:0.5;
}
.ustensiles-input::placeholder{
    color:white;
    opacity:0.5;
}
.recettes {
  margin: 0 auto !important;
  display: grid !important;
  gap: 0 5% !important;
  grid-template-columns: 30% 30% 30% !important;
  grid-auto-rows: auto;
  font-size: x-small;
  line-height: 17px;
}
.recettes-article {
  font-size: small;
  line-height: 17px;
  border-radius: 5px 5px 0px 0px;
  margin: 20px auto;
}

.invisible {
  display: none;
}
.recettes__image {
  background-color: u.$gris__nuance;
  margin: auto;
  height: 170px;
}
.recettes__detail {
  margin: auto;
  background-color: u.$gris;
  padding: 20px;
}

.recettes__entete {
  font-size: medium;
}

.recettes__corps {
}

.corps__indications {
  height: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.corps__ingredient {
  height: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.entete__temps-preparation {
  font-size: large;
  font-weight: 700;
  text-align: end;
  white-space: nowrap;
}
.preparation-temps {
}

.entete__titre {
  font-size: 18px;
}

.ingredientsConteneur {
}

.ingredient {
  font-weight: 700;
}
