@use "utils" as u;

body {
  margin: auto;
  width: 100%;

  @include u.mobile {
    min-width: 700px;
    max-width: 800px;
  }

  @include u.tablet {
    min-width: 801px;
    max-width: 1101px;

  }


  @include u.wide-desktop {
    min-width: 1101px;
  }
}

.header-logo {
  margin: 20px auto;
}

.logo {
  width: 300px;
  height: auto;
  margin: auto;
}

.main-general {
  position: relative;
  width: 90%;
  margin: auto;
}

.searchBar {
  background-color: u.$gris;
  height: 50px;
  width: 98%;
  padding-left: 10px;
  margin: auto;
  border-radius: 5px;

}

.icone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  height: 50px;
  width:30px;
}

.icone-position {
  margin-right: 25px;
  margin-top: 5px;
}

.inputSearch {
  background-color: transparent;
  border: none;
  position: relative;
  margin: 0;
  height: 100%;
  outline: none;
  color: black;

}

.inputSearch::placeholder {
  color: black;
  opacity: 0.25;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

input::placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.groupe-select {
  position: relative;
  display: grid;
  z-index: 10;
  grid-template-columns: auto auto auto;
  @include u.mobile {  
    margin:auto;
    width: 100%;  }

  @include u.tablet { 
  
    margin:0;
    width: 500px;
    gap: 30px;
   }


  @include u.wide-desktop {
    margin:0;
    width: 500px;
    gap: 30px;

  }
}

.ingredients-groupe {
  display: none;
}

.appareils-groupe {
  display: none;
}

.ustensiles-groupe {
  display: none;
}

.ingredients-groupe--visible {
  position: relative;
  height: auto;
  gap: 0 10px;
  width: auto;
  display: grid;
  background-color: u.$bleu;
  border-radius: 5px;
  padding: 15px;
  top: -10px;
  @include u.mobile {  
    grid-template-columns: auto;
  }

  @include u.tablet {
    grid-template-columns: auto;

  }

  @include u.wide-desktop {
    grid-template-columns: auto auto auto;

  }
}

.appareils-groupe--visible {
  position: relative;
  height: auto;
  gap: 0 10px;
  width: auto;
  display: grid;
  background-color: u.$vert;
  border-radius: 5px;
  padding: 15px;
  top: -10px;
  @include u.mobile {  
    grid-template-columns: auto;
  }

  @include u.tablet { 
    grid-template-columns: auto;
  }


  @include u.wide-desktop {
    grid-template-columns: auto auto auto;

  }
}

.ustensiles-groupe--visible {
  position: relative;
  height: auto;
  gap: 0 10px;
  width: auto;
  display: grid;
  background-color: u.$orange;
  border-radius: 5px;
  padding: 15px;
  top: -10px;
  @include u.mobile {  
    grid-template-columns: auto;
  }

  @include u.tablet { 
    grid-template-columns: auto;
  }

  @include u.wide-desktop {
    grid-template-columns: auto auto auto;

  }
}

.tag-affiche {
  gap: 20px;
  margin: 10px;
}

.fa-padding {
  padding: 15px 10px;
}

.tag-ingredient {

  padding: 0px 10px;
  border-radius: 10px;
  color: white;
  width: auto;
  background-color: u.$bleu;
  font-size: medium;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.tag-appliance {
  padding: 0px 10px;
  border-radius: 10px;
  color: white;
  width: auto;
  background-color: u.$vert;
  font-size: medium;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.tag-ustensil {
  padding: 0px 10px;
  border-radius: 10px;
  color: white;
  width: auto;
  background-color: u.$orange;
  font-size: medium;
  white-space: nowrap;
  flex-wrap: nowrap;
}
.selectSearch{
  margin: 0 0 0 11px;

}
.form-select-groupe {
  border-radius: 5px;
  font-size: 18px;
  width: auto;
  height: 50px;
  @include u.mobile {  
margin:auto; 
}

  @include u.tablet { 
    margin:auto; 
  }


  @include u.wide-desktop {
    gap:1%;  

  }
}

#form-select__ingredients {
  position: relative;
  width: auto;
  background-color: u.$bleu;
  color: u.$blanc;
}

#form-select__appareils {
  position: relative;

  background-color: u.$vert;
  color: u.$blanc;
}

#form-select__ustensiles {
  position: relative;
  background-color: u.$orange;
  color: u.$blanc;
}

.conteneur-input-icone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.ingredients-input {
  width: 115px;
  padding: 10px;
  color: u.$blanc;
  border: none;
  outline: none;
  background-color: transparent;
}

.appareils-input {
  width: 100px;
  padding: 10px;
  color: u.$blanc;
  border: none;
  outline: none;
  background-color: transparent;
}

.ustensiles-input {
  width: 100px;
  padding: 10px;
  color: u.$blanc;
  border: none;
  outline: none;
  background-color: transparent;
}

input::placeholder {
  color: white;
}

.inputOpacity::placeholder {
  opacity: 0.5;
}

.recettes {
  margin: 0 auto !important;
  display: grid !important;
  grid-auto-rows: auto;
  font-size: x-small;
  line-height: 17px;

  @include u.mobile {
    grid-template-columns: 50% 50%!important;
    max-width: 700px;
  }

  @include u.tablet {
    grid-template-columns: 45% 45% !important;

    width: 100%;
  }


  @include u.wide-desktop {
    grid-template-columns: 31% 31% 31% !important;
    
  width: 100%;
  }
}

.recettes-article {
  font-size: small;
  line-height: 17px;
  border-radius: 5px 5px 0px 0px;
  margin: 20px auto;
  min-height: 250px;
  @include u.mobile {
    width:535px;

  }
  @include u.tablet {
    width: 535px;
  }


  @include u.wide-desktop {
    width: 100%;
  }
}

.hidden {
  display: none;
}

.recettes__image {
  background-color: u.$gris__nuance;

  border-radius: 5px 5px 0px 0px;
  margin: auto;
  height: 170px;
}

.recettes__detail {
  margin: auto;
  background-color: u.$gris;
  padding: 20px;
  border-radius: 0 0 5px 5px;
  min-height: 200px;

}

.recettes__entete {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  white-space: normal;
}

.recettes__corps {}

.corps__indications {
  height: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.corps__ingredient {
  height: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  font-family: 'lato', sans-serif;
  font-weight: 700;
}

.ingredientsConteneur {

  white-space: nowrap;
  flex-wrap: nowrap;
  padding: 0 11px;
}

.ingredient {
  font-size: 12px;
  width: auto;
  padding: 0;
  margin: 0;
}

.quantite {
  width: auto;
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.unite {

  width: auto;
  padding: 0;
  margin: 0;
  font-weight: 400;

}
.description-header{
  display:flex;
  position: relative;
  flex-wrap: nowrap;
  justify-content: space-between;
  white-space: nowrap;

}

.entete__temps-preparation {
  font-size: large;
  font-weight: 700;
  text-align: end;
  position:absolute;
  right:30px;
  white-space: nowrap;
  font-family: 'lato', sans-serif;
  min-width: 100px;
}

.preparation-temps {
  margin-right: 20px;
}

.entete__titre {
  font-size: 18px;
}

.ingredientsConteneur {}

.ingredient {
  font-weight: 700;
}


.message {
  position: fixed;
  width: 50%;
  height: 50%;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  color: u.$gris__nuance;
  left: 50%;
  top: 400px;
  transform: translateX(-50%);
}